# =====================
# Python / Django
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.venv/
env/

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# Logs
# =====================
*.log

# =====================
# OS / Editor
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =====================
# Docker
# =====================
*.env
docker-compose.override.yml

# =====================
# Misc
# =====================
coverage/
